<nav class="navbar navbar-expand-lg fixed-top navbar-govco navbar-expanded">
  <div class="navbar-container container">
    <div class="navbar-logo float-left">
      <a class="navbar-brand" href="utils.getServerWebUrl()+'/'">
        <img src="https://cdn.www.gov.co/assets/images/logo.png" height="30" alt="Logo Gov.co" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible"
        aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-first-menu float-right">
      <div class="nav-primary mx-auto">
        <ul class="navbar-nav ml-auto nav-items nav-items-desktop">
        </ul>
      </div>
      <div class="nav-item-primary ml-auto mr-2">
        <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
          <input class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm" type="search"
            placeholder="Buscar " aria-label="Search" name="searchTerm" id="search-desktop" />
          <span class="govco-icon govco-icon-search-cn icon-search notranslate" (click)="btnSearchGovCo()"></span>
        </div>
        <span class="govco-icon govco-icon-language-en-n lang-govco ml-3" (click)="changeLang()"></span>
        <span class="govco-icon govco-icon-user-n lang-govco ml-3" (click)="changeLang()"></span>
        <span class="headline-xs-govco" style="color:white">Iniciar Sesión</span>
      </div>
    </div>
  </div>

</nav>

<nav class="navbar navbar-expand-lg second-navbar fixed-top" id="nav-secondary">
  <div class="container-fluid justify-content-center">
    <div class="row">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-first-menu" id="navbarNav">
        <ul class="navbar-nav w-100 d-flex nav-items nav-items-desktop">
          <li class="nav-item  hover-button">
            <a class="nav-link " href="#"><span class="headline-xs-govco">TRÁMITES Y SERVICIOS</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="text-second-navbar"><span
                class="headline-xs-govco">PARTICIPACIÓN</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="headline-xs-govco">ENTIDADES</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="headline-xs-govco">NOTICIAS</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>