<h2>Otros temas de tú interés</h2>
<div class="row mt-1">

    <div class="col-lg-6" *ngFor="let item of obtTemasInteres">
        <div class="card mt-5" style="padding: 0.2em; border-radius: 1rem; box-shadow: 3px 2px 10px grey">
            <div class="row">

                <div class="col-lg-4" style="padding: 1rem;">
                    <img src="{{item.imagen}}" style="width:100%; padding: 1rem;">

                </div>
                <div class="col-lg-8">
                    <div class="card-header">
                        <p class="description-govco">{{item.titulo}}</p>
                    </div>
                    <div class="card-body">
                        {{item.descripcion}}
                        <p style="text-align: right; scroll-padding-top: 0.2em;"><a
                                href="{{item.enlace}}">{{item.labelEnlace}} <i class="fas fa-arrow-right"
                                    style="color:blue"></i></a></p>
                    </div>


                </div>
            </div>



        </div>


    </div>




</div>