<app-header>
</app-header>

<div class="container-fluid border "
    style="width: 70%; border-radius: 1rem; padding: 2rem; border-radius: 1rem; box-shadow: 3px 2px 10px grey;margin-top: 12rem;">
    <div class="row">

        <div class="col-lg-8 ">
            <app-opiniones></app-opiniones>
        </div>

        <div class="col-lg-4 ">
            <app-comentarios></app-comentarios>
        </div>
    </div>

</div>


<div class="container-fluid border mt-5"
    style="width: 70%; border-radius: 1rem;padding: 2rem; border-radius: 1rem; box-shadow: 3px 2px 10px grey ">
    <app-temas-interes></app-temas-interes>
</div>

<div class="container-fluid border mt-5"
    style="width: 70%; border-radius: 1rem;padding: 2rem; border-radius: 1rem; box-shadow: 3px 2px 10px grey ">

    <div class="row">
        <div class="col-lg-4">
            <app-tramites-slide></app-tramites-slide>


        </div>
        <div class="col-lg-8">

            <app-tramites></app-tramites>
        </div>

    </div>





</div>




<app-footer></app-footer>